* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

.hero-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 10px;
}

.hero-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.hero-image {
    width: 30%;
    height: auto;
    align-self: center;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.project-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 10px;
}

.about-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 10px;
}

.contact-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 10px;
}
