* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #00cc66;
    text-shadow: 0 0 10px #00cc66;
}

@keyframes scanlines {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 50%;
    }
}

@keyframes flicker {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.8;
    }
}

.crt {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: linear-gradient(to top, #000000, #000000, #002200, #002200);
    background-size: cover;
    background-size: 100% 4px;
    animation: scanlines 10s steps(60) infinite;
}

#boot-sequence {
    padding: 30px 20px 20px 20px;
}

.hero-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.hero-heading-container {
    width: 30ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 20px 0px 20px 0px;
    position: sticky;
    top: 0;
}

.website-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container {
    min-height: 100vh;
    width: 75%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.project-card {
    border: 1px solid #00cc66;
    padding: 15px 20px 15px 20px;
    flex-basis: 0 0;
}

.about-container {
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    gap: 10px;
}

.contact-container {
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    gap: 10px;
}

